
// Fonts

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Italic.eot');
    src: url('../fonts/NotoSerif-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSerif-Italic.woff') format('woff'),
        url('../fonts/NotoSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-BoldItalic.eot');
    src: url('../fonts/NotoSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSerif-BoldItalic.woff') format('woff'),
        url('../fonts/NotoSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif.eot');
    src: url('../fonts/NotoSerif.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSerif.woff') format('woff'),
        url('../fonts/NotoSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Bold.eot');
    src: url('../fonts/NotoSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSerif-Bold.woff') format('woff'),
        url('../fonts/NotoSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


// Colours

$guide: magenta;
// $guide: transparent;

$primary: #483829;
$secondary: #b3793b;
$menu: #d79a50;
$menu-active: #ffe3b9;


// Measurements

$menu-left-margin: 6vw;
$menu-width: 38.044vh;




// SCSS

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	color: $primary;
	font-family: 'Noto Serif', serif;
	-webkit-font-smoothing: subpixel-antialiased;
}

body {
	background: url('../images/background.jpg') left center no-repeat transparent;
	background-size: cover;
	

	&::after {
		content: '1920x1080px';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 1920px;
		height: 1080px;
		padding: .5em;
		border: 1px solid $guide;
		color: $guide;
		font-weight: bold;
		font-size: .8em;
		font-family: sans-serif;
		box-sizing: border-box;
		pointer-events: none;
	}
/*
	&::before {
		content: '1440x980px';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 1440px;
		height: 900px;
		padding: 2em .5em;
		border: 1px solid green;
		color: green;
		font-weight: bold;
		font-size: .8em;
		font-family: sans-serif;
		box-sizing: border-box;
		pointer-events: none;
	}
*/

}




/* -----------------------------------------------*/
/* ------------ Header & Menu -------------*/
/* -----------------------------------------------*/



header {
	background: url('../images/menu-background.jpg') center top repeat-y transparent;
	background-size: 100% auto;
	box-shadow: 0px 0px 1em rgba(0,0,0,.8);
	position: absolute; 
	top: 0; 
	left: $menu-left-margin;
// 	left: 14.222vh;
// 	width: 21.4vw;
	width: $menu-width;
	height: 100vh;
	overflow: hidden;
	z-index: 999;
	
	h1 {
		position: relative;
		z-index: 899;
		margin: 3vh auto 0;
		height: auto;
		width: 80%;
		box-sizing: border-box;
// 		filter: drop-shadow(0 0.2vw 0.2vw rgba(0,0,0,.9));
		filter: drop-shadow(0 0.355vh 0.355vh rgba(0,0,0,.9));
		img {
			width: 100%;
			margin-left: -0.1vh;
		}
	}
	
	nav {
		height: 70vh;
		position: relative;
		z-index: 800;
		-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 3%,rgba(0,0,0,1) 93%,rgba(0,0,0,0) 100%);
		filter: drop-shadow(0 0.355vh 0.355vh rgba(0,0,0,.9));
/*
		&::before, &::after {
			z-index: 800;
			content: ' ';
			position: absolute;
			left: 0;
// 			top: -2vw;
			top: -3.555vh;
// 			width: 21.4vw;
			width: 38.044vh;
// 			height: 4vw;
			height: 7.111vh;
			background: url('../images/menu-background-blend.png') center bottom no-repeat transparent;
			background-size: contain;
			pointer-events: none;
		}
		
		&::after {
			top: auto;
// 			bottom: -2vw;
			bottom: -3.555vh;
		}
*/
		
		h2 {
			display: none;
		}
		
		ul {
			list-style: none;
			
// 					filter: drop-shadow(0 0.2vw 0.2vw rgba(0,0,0,.9));
// 			filter: drop-shadow(0 0.355vh 0.355vh rgba(0,0,0,.9));

			li {
// 				font-size: 1.4vw;
				font-size: 2.1vh;
				
				a {
					color: $menu;
					text-decoration: none;
// 					text-shadow: 0 0.2vw 0.2vw rgba(0,0,0,.9);
// 					text-shadow: 0 0.355vh 0.355vh rgba(0,0,0,.9);
// 					padding: .7vw 0;
					padding: 0.9vh 0;
					display: inline-block;
					width: 100%;
					-webkit-font-smoothing: antialiased;
					&.active, &:hover {
						color: $menu-active;
					}		
				}
				
				ul {
// 					padding: 0 0 1vw 1.8vw;
					
					filter: none;
// 					display: none;
					height: 0;
					padding: 0 0 0 3.199vh;
					margin: 0 0 0 -1.2vh;
					opacity: 0;
					transition: opacity .2s linear, padding .2s linear, margin .2s linear, backround .2s linear;
// 					transition-delay: .1s;
										
					li {
// 						font-size: 0.95vw;
						font-size: 1.688vh;
						opacity: 0;
						transition: opacity .2s linear;

						a {
							padding: .8vh 0;
							-webkit-font-smoothing: subpixel-antialiased;
						}
					}
				}
				
				&:hover {
					ul {
// 						display: block;
					}
					
				}
				
				&.open {
					ul {
// 						display: block;
						height: auto;
						padding: 0 0 1.777vh 3.199vh;
						margin: 0 0 1.777vh -1.2vh;
						background: url('../images/menu-accordion-bottom.png') left bottom / 88% auto no-repeat transparent;
						opacity: 1;
						li {
							opacity: 1;
							&:nth-child(1) {
								transition-delay: 0.05s;
							}
							&:nth-child(2) {
								transition-delay: 0.1s;
							}
							&:nth-child(3) {
								transition-delay: 0.15s;
							}
							&:nth-child(4) {
								transition-delay: 0.2s;
							}
							&:nth-child(5) {
								transition-delay: 0.25s;
							}
							&:nth-child(6) {
								transition-delay: 0.3s;
							}
							&:nth-child(7) {
								transition-delay: 0.35s;
							}
							&:nth-child(8) {
								transition-delay: 0.4s;
							}
							&:nth-child(9) {
								transition-delay: 0.45s;
							}
							&:nth-child(10) {
								transition-delay: 0.5s;
							}
							&:nth-child(11) {
								transition-delay: 0.55s;
							}
							&:nth-child(12) {
								transition-delay: 0.6s;
							}
						}
						
					}
				}
			}
		}	
		
		> ul {
			height: 70vh;
			overflow: scroll;
// 			padding: 1.2vw 1vw 1.2vw 4vw;
			padding: .8vh 2.4vh 2.133vh 6.7vh;
			box-sizing: border-box;
			
			> li {
				position: relative;
				
				&:first-child {
					
				}
				&:last-child {
					
				}
								
				> a {
					margin-left: -2.5vh;
// 					width: calc(100% + 2.5vh);
					padding-left: 3vh;
					background: url('../images/arrow-down.png') left 2.15vh no-repeat transparent;
					background-size: 1.95vh auto;						
				}
				
				&.open > a {
					background: url('../images/arrow-up.png') left 1.95vh no-repeat transparent;
					background-size: 1.95vh auto;
					
				
						
				}
				
				.toc-section-trigger {
// 					background-color: $guide;
					display: inline-block;
					position: absolute;
					width: 2vh;
					height: 4vh;
					top: 0;
					bottom: 0;
					left: -2.5vh;
					cursor: pointer;
				}
			}
		}
		
	}
	
	#back-arrow {
		text-indent: -999em;
		background: url('../images/arrow-left.png') center center no-repeat transparent;
		background-size: contain;
		display: block;
		position: absolute;
		bottom: 2vh;
		left: 2vh;
		width: 6vh;
		height: 4vh;
		filter: drop-shadow(0 0.355vh 0.355vh rgba(0,0,0,.9));
		z-index: 900;
	}
}






/* -----------------------------------------------*/
/* ------------ Article -------------*/
/* -----------------------------------------------*/


article {
// 	border: 1px solid $guide;
	box-sizing: border-box;
	margin: 9vh 4vw 0vh calc( 6vw + 38.044vh + 4vw);
	height: 80vh;
	font-size: 1em;

	h2 {
		position: absolute;
		top: 2vh;
		left: calc( 6vw + 38.044vh + 4vw);
		right: 4vw;
		text-align: center;
		font-weight: normal;
		text-transform: uppercase;
		font-size: 1.7em;
		span {
			&:first-child, &:last-child {
				display: inline-block;
				position: relative;
				width: 10%;
				height: 2vh;
				margin: .9vh 3.5vw;
				float: left;
				background: url('../images/horizontal-center.png') center center repeat-x transparent;
				background-size: auto 18px;
				filter: drop-shadow(0 0.355vh 0.355vh rgba(0,0,0,.9));
				
				&::before, &::after {
					content: ' ';
					display: inline-block;
					width: 83px;
					height: 2vh;
					position: absolute;
					left: -82px;
					top: 0;
					background: url('../images/horizontal-left.png') left center no-repeat transparent;
					background-size: auto 18px;
					
				}
				&::after {
					left: auto;
					right: -82px;
					background: url('../images/horizontal-right.png') right center no-repeat transparent;
					background-size: auto 18px;
				}
			}
			&:last-child {
				float: right;
			}
		}
	}
	
	
	
	section {
		width: 100%;
		height: 100%;
		overflow: auto;
		overflow-x: visible;
		box-sizing: border-box;
		-webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 5%,rgba(0,0,0,1) 95%,rgba(0,0,0,0) 100%);
			
/*
		mask-image: url('../images/content-mask.png');
		mask-size: 100% 100%;
		mask-position: top right;
*/
		padding: 1% 0 3%;
		
		
		// Custom scrollbar
			
		&::-webkit-scrollbar {
			position: relative;
			z-index: 997;
			background: url('') center center / 4px auto repeat-y transparent;
		}
		&::-webkit-scrollbar-track {
			position: relative;
			z-index: 998;
			background: url('../images/scrollbar-track.jpg') center center / 5px 95% no-repeat transparent;
			opacity: .6;
		}
		&::-webkit-scrollbar-thumb{
			position: relative;
			z-index: 999;
			width: 32px;
			height: 30px;
			background-image: url('../images/scrollbar-thumb-top.png'), url('../images/scrollbar-thumb-bottom.png'), url('../images/scrollbar-thumb-middle.png');
			background-position: center 8%, center 92%, center center;
			background-size: 15px auto, 15px auto, 15px 84%;
			background-repeat: no-repeat;
// 			background-color: $guide; 
			border-radius: 5px;
			
		}
		
		div { 
			
			
			h3 {
				margin: 1.5em 0 .5em;
				box-sizing: border-box;
				width: 47%;
				margin-right: -2%;
				margin-left: 0;
// 				float: left;
// 				clear: left;
				+ p {
	// 				margin-top: 0;
				}
			}
			.clickable-screen {
				display: inline-black;
				box-sizing: border-box;
				width: 47%;
				margin: 0 2% 0 4%;
// 				width: 48%;
// 				margin: 0 2% 0 3%;
// 				margin: -2.5em 1% 2.5em 4%;
				height: auto;
				float: right;
				clear: right;
				position: relative;
				z-index: 600;
				img {
					width: 100%;
					box-sizing: border-box;
	// 				background: $guide;
	//  				background: url('../images/background.jpg') left center no-repeat transparent; 
	// 				background-size: 130% auto;
		// 			padding: 1%;
					
					/* border */
					border-style: solid;
					border-width: 13px 13px 15px 15px;
					border-image: url('../images/image-frame.png') 20 18 19 21 repeat repeat;
				}
				
				&:hover {
					img {
						border-image: url('../images/image-frame-hover.png') 20 18 19 21 repeat repeat;
					}
				}
			}
			
			
			p {
	// 			width: 45%;
				box-sizing: border-box;
				width: 47%;
				margin-right: -2%;
				margin-left: 0;
// 				float: left;
// 				clear: left;
			}
			
			ul {
	// 			width: 45%;
				width: 47%;
				margin-right: -2%;
				margin-left: 0;
				box-sizing: border-box;
// 				float: left;
// 				clear: left;
				li {
					position: relative;
					list-style: none;
					margin-bottom: .5em;
					&::before {
						content: '';
						position: absolute;
						width: .8em;
						height: .9em;
						top: .25em;
						left: -1.4em;
						background: url('../images/bullet.png') left center / 100% no-repeat transparent;
	
					}
					
					ul {
						width: 100%;
						margin: 1em 0;
					}
				}
			}
			
			table {
				border-collapse: collapse;
				td {
					border: 1px solid $secondary;
					vertical-align: top;
					padding: .8em 1em;
					background-color: rgba(255, 255, 255, 0.45);
					width: 50%;
					
				}
				
			}
			
			
			.left, &.left {
				float: left;
				clear: left;
				width: 47%;
				margin-right: -2%;
				margin-left: 0;
				
				h3, p, ul {
					width: 100%;
				}
				
				.clickable-screen {
					margin-right: 0; 
					&.left {
						margin-right: 4%;
						margin-bottom: -2%;
					}
				}
			}
			
			.right, &.right {
				float: right;
				clear: right;
				width: 47%;
				margin-right: 2%;
				margin-left: 4%;
				
				h3, p, ul {
					width: 100%;
				}
				
				.clickable-screen {
					margin-right: 0; 
					&.left {
						margin-right: 4%;
						margin-bottom: -2%;
					}
				}
			}
		}
		
		a {
			color: $primary;
			font-weight: bold;
			&:hover {
				color: black;
				text-decoration: none;
			}
		}
	}
}



/* -----------------------------------------------*/
/* ------------ Footer (Related Topics) -------------*/
/* -----------------------------------------------*/


footer {
// 	border: 1px solid $guide;
	box-sizing: border-box;	
	margin: 0vh 4vw 5vh calc( 6vw + 38.044vh + 4vw);
	
	strong {
		display: block;
		
	}
	
	span {
		
		filter: drop-shadow(0 0.355vh 0.355vh rgba(0,0,0,.9));
		display: block;
		position: relative;
// 		width: 100%;
		height: 2vh;
		margin: .3vh 3.5vw;
		background: url('../images/horizontal-center.png') center center repeat-x transparent;
		background-size: auto 18px;
		
		&::before, &::after {
			content: ' ';
			display: inline-block;
			width: 82px;
			height: 2vh;
			position: absolute;
			left: -82px;
			top: 0;
			background: url('../images/horizontal-left.png') left center no-repeat transparent;
			background-size: auto 18px;
			
		}
		&::after {
			left: auto;
			right: -82px;
			background: url('../images/horizontal-right.png') right center no-repeat transparent;
			background-size: auto 18px;
		}
		
	}
	
	a {
		color: $primary;
		&:hover {
			color: black;
			text-decoration: none;
		}
	}
}



/* -----------------------------------------------*/
/* ------------ Screenshot po-up -------------*/
/* -----------------------------------------------*/


.full-screen {
	opacity: 0;
	position: fixed;
	display: inline-block;
	box-sizing: border-box;
	top: 0; 
	left: 0;
	height: 0;
	width: 0;
	background: rgba(0, 0, 0, 0.8);
	padding: 0;
	z-index: 998;
	text-align: center;
	transition: opacity .4s linear;
	pointer-events: none;
	
	
	img{
		height: 60vh;
		margin-top: 10vh;
		opacity: 0;
		border-style: solid;
		border-width: 13px 13px 15px 15px;
		border-image: url('../images/image-frame-open.png') 20 18 19 21 repeat repeat;
	}
	
	&:target {
		opacity: 1;
		pointer-events: auto;
		top: 0; 
		bottom: 0;
		left: 0;
		right: 0;
		height: 100vh;
		width: 100vw;
		padding: 9vh 4vw 0vh calc( 6vw + 38.044vh + 4vw);
		img {
			opacity: 1;
		}
	}
}

/* ------------------------------------------------------------------------------------------------*/
//												End
/* ------------------------------------------------------------------------------------------------//

         ...                              
.'lO000OxdxkOOkxo:.                        
  ;KMMMk'...,cxXMWXx,                                                          .                    
  ,KMMMd.      'OWMMK:        .,:cllloolc;..          'l,                .c;       ..,:cccccccccclc.
  ,0MMMd.       ,KMMMO.    'lkOxc;,',;cdKNN0d,        lN0,              .dNk.        .xWMMXdccllo00,
  '0MMMx.       .kMMM0'  .dXWk,         .c0WMNk,     .xMM0,            .oNMK,         lWMMO.     .:.
  '0MMMx.       .OMMWx. ,0WMk.            .xWMMK:    '0MMM0,          .oNMMNc         lNMMO.        
  '0MMMx.       cNMMO' 'OMMX:              .OMMM0'   cNWWMMO'         lXXNMWd.        cNMMO.        
  .OMMMx.     .lXMNk'  lWMMK,               cNMMNc  .dWkdXMMO'       lXxcOMMO.        cNMM0:...'';' 
  .OMMMx.  .;o0WXx;.  .dMMM0,               ,KMMWl  .ONc.lNMWO'     cKk..dWMX;        cNMMXkdxxxOXl 
  .OMMMk.  cKMMMK:     oWMMX:               ,KMMX:  ;XK, .oNMWO'   cKk.  cNMWl        cNMMO.    .o: 
  .OMMMk.   ,kWMMNx'   ,KMMMk.              cNMWx.  oWk.  .dNMWk. :Kk.   ,KMMk.       lNMMk.     .  
  .OMMMk.    .lKMMWXo.  cXMMNd.            .kMWO'  .kWo    .oNMWOdKO'    .kMM0,       lNMMk.        
  .OMMMk.      'xNMMW0:. ;0WMWO;.         .xNXo.   ,KN:     .oNMMWO'      oWMNc       lWMMk.      .'
  .OMMMO.       .:0WMMNk, .cOXWNOo;'...';oOOo'    .lNK,      .oNMO'       :XMWx.     .dWMMK:.....'ox
  .OMMMO.         .oKWMMXd'  .:oxkOkxxdooc,.    ':lkK0l,.     .lx'        ;OKKOo;,..'ckKKKK0kkkkO0Ko
..lKWWWXo,.         .lOXNWKx:,.     .           .........                  .......  ............... 
.',,,,,,,,'.           .',;;,,.                                                                     


// ------------------------------------------------------------------------------------------------*/



