min/
node_modules/
packs/
sounds/
fmv/
ui/
models_building/
models_world/
models_unit/
models_landscape/
editor/
terrain/
sprites/
loading_screen/
animations/
sky/
items/
models_strat/
battlefield/
menu/
vegetation/

/**/*.xmb
/**/*.lnk

/**/*~lock.*


/**/*.xtd
/**/*.lrp
/**/*.xtt
/**/*.bik
/**/*.gfx

/mod/art/ui/flash/*

/**/*.swf
/**/*.ugx

/**/*.ddx
/**/*.lrp
/**/*.xth
/**/*.xtd
/**/*.xtt
/**/*.xsd
/**/*.wav
/**/*.bin
/**/*.ttf

/**/*.xsddelta
/**/*.dds
/**/*.tga
/**/*.wfc
/**/*.cas

package-lock.json


/**/*.zip
/**/*.pak
/**/*.webm
/**/*.bpi
/**/*.fxo
/**/*.strings
