min/
node_modules/
packs/
sounds/
fmv/
models_building/
models_world/
models_unit/
models_landscape/
editor/
terrain/
sprites/
loading_screen/
animations/
sky/
items/
models_strat/
battlefield/
menu/
vegetation/

/**/*.xmb
/**/*.lnk

/**/*~lock.*


/**/*.xtd
/**/*.lrp
/**/*.xtt
/**/*.bik
/**/*.gfx

/mod/art/ui/flash/*

/**/*.swf
/**/*.ugx

/**/*.ddx
/**/*.lrp
/**/*.xth
/**/*.xtd
/**/*.xtt
/**/*.xsd
/**/*.wav
/**/*.bin
/**/*.ttf

/**/*.xsddelta
/**/*.dds
banners/
interface/
/**/*.wfc
/**/*.cas
/**/*.item
/**/*.dat

package-lock.json


/**/*.zip
/**/*.pak
/**/*.webm
/**/*.gif
/**/*.png
/**/*.jpg
/**/*.mp4
/**/*.bpi
/**/*.fxo
/**/*.strings
/**/*.feral
/**/*.wfc
/**/*.max
/**/*.rsd

textures/
eventpics/
portraits/
symbols/
unit_info/
units_classic/
unit_info_classic/