
/* -----------------------------------------------
   ----------------- About Tab -------------------
            _                    _   
     /\    | |                  | |  
    /  \   | |__    ___   _   _ | |_ 
   / /\ \  | '_ \  / _ \ | | | || __|
  / ____ \ | |_) || (_) || |_| || |_ 
 /_/    \_\|_.__/  \___/  \__,_| \__|
                                     
                                     
 -----------------------------------------------*/

#tabContentAbout #legalinfo {
	margin: 0 10px;
	text-align: center;
	display: block;
}

#tabContentAbout #legalinfo p {
	margin: 5px 0;
	display: block;
	background: white;
	padding: 7px 0;
	border: 2px solid #BDBDBD;
	font-size: 14px;
}

#tabContentAbout div[data-visible-name=docsVisible] {
	padding-bottom: 30px;
	margin: 10px 100px 10px;
	border-bottom: 2px solid #898989;
	text-align: center;
}

#tabContentAbout div[data-visible-name=docsVisible]>div 
{
	width:-webkit-calc(100% + 200px);
	width:calc(100% + 200px);
	left:-100px;
	position:relative;
	box-sizing: border-box;
}

#tabContentAbout.tabbed h3 {
	float: none;
	margin-bottom: 5px;
}

#tabContentAbout #aboutExtras {
	margin-top: 25px;
	margin-bottom:0;
	margin-left:auto; 
	margin-right:auto;
	text-align: center;
	width:auto;
	display: table;
}

/* Ensures no overlap with the play button at small widths */
@media (max-width: 760px) {
	#tabContentAbout #aboutExtras{
		margin-bottom: 20px;
	}
}

#tabContentAbout #aboutExtras input
{
	display: inline-block;
	width: 132px;
	padding: 10px;
	white-space: normal;
	line-height: 19px;
	/* 13px == 2*5px margin + 1px top border + 2px bottom border */
	height: calc(100% + 13px); 
}

#tabContentAbout #aboutExtras input.stretchButton2:first-child {
	margin-left: 0px;
	margin-right: 5px;
}
#tabContentAbout #aboutExtras input.stretchButton2
{
	margin-left: 5px;
	margin-right: 0px;
	min-height: 61px;
}

.langRU #tabContentAbout #aboutExtras input.stretchButton2
{
	width: 160px;
}

#tabContentAbout #aboutExtras input.stretchButton1
{
	min-width:410px;
	margin-left: 0px;
	margin-right: 0px;
}

#tabContentAbout #aboutExtras hr {
	color: transparent;
	border: none;
	border-style: none;
	border-bottom: 2px solid #898989;
	margin-top: 8px;
	margin-bottom: 8px;
}

/* Button adjustments when we want to display the Feral Account log-in form */
#tabContentAbout #minisitebutton.feralAccountEnabled
{
	padding-top: 0px !important;
}

#tabContentAbout #docButtonContainer.feralAccountEnabled
{
/* Using percentages because some languages require a wider window,
   and we want the buttons to flow.
*/
	width: 52% !important;
	display: inline-block !important;
	vertical-align: top !important;
	margin-left: 12px !important;
}

#tabContentAbout .docsbutton.feralAccountEnabled
{
	margin: 16px 10px 23px 10px !important;
}
