@font-face {
	font-family: 'Noto Serif';
	src: url("../fonts/notoserif-italic.eot");
	src: url("../fonts/notoserif-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-italic.woff") format("woff"), url("../fonts/notoserif-italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Serif';
	src: url("../fonts/notoserif-bolditalic.eot");
	src: url("../fonts/notoserif-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-bolditalic.woff") format("woff"), url("../fonts/notoserif-bolditalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Serif';
	src: url("../fonts/notoserif.eot");
	src: url("../fonts/notoserif.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif.woff") format("woff"), url("../fonts/notoserif.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Serif';
	src: url("../fonts/notoserif-bold.eot");
	src: url("../fonts/notoserif-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/notoserif-bold.woff") format("woff"), url("../fonts/NotoSerif-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	color: #483829;
	font-family: 'Noto Serif', serif;
	-webkit-font-smoothing: subpixel-antialiased;
	background-size: cover;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: url('../images/background.jpg') left center no-repeat transparent;
	background-size: cover;
}


/* -----------------------------------------------*/
/* ---------------- Header & Menu ----------------*/
/* -----------------------------------------------*/

header {
	background: url("../images/menu-background.jpg") center top repeat-y transparent;
	background-size: 100% auto;
	box-shadow: 0px 0px 1em rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	left: 5.5vw;
	width: 38.044vh;
	height: 100vh;
	overflow: hidden;
	z-index: 999;
}

.page-class-bi header {
	background-image: url("../images/menu-background-bi.jpg");
	background-size: 100% auto;
}

.page-class-alex header {
	background-image: url("../images/menu-background-alex.jpg");
	background-size: 100% auto;
}

header h1 {
	position: relative;
	z-index: 899;
	margin: 3vh auto 0;
	height: auto;
	width: 85%;
	box-sizing: border-box;
	filter: drop-shadow(0 0.555vh 0.355vh rgba(0, 0, 0, 1));
}

header h1 img {
	width: 100%;
	opacity: 0;
	margin-left: -0.1vh;
}

.page-class-base header h1 {
	background: url('../images/base-logo.png') center center / 100% auto no-repeat transparent;
}

.page-class-bi header h1 {
	background: url('../images/bi-logo.png') center center / 100% auto no-repeat transparent;
}

.page-class-alex header h1 {
	background: url('../images/alex-logo.png') center center / 100% auto no-repeat transparent;
}

.page-class-bi header h1 img, .page-class-alex header h1 img {
	opacity: 0;
	padding: 2.1vh 0;
}

header nav {
	height: 65vh;
	position: relative;
	z-index: 800;
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 3%, black 97%, rgba(0, 0, 0, 0) 100%);
	filter: drop-shadow(0 0.355vh 0.355vh rgba(0, 0, 0, 0.9));
}

header nav h2 {
	display: none;
}

header nav ul {
	list-style: none;

}

header nav ul li {
	font-size: 2.1vh;
}

header nav ul li a {
	color: #d79a50;
	text-decoration: none;
	padding: 0.9vh 0;
	display: inline-block;
	position: relative;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	z-index: 1;
}

header nav ul li span + a::before {
	content: none;
}

header nav ul li a.active, header nav ul li a:hover {
	color: #ffe3b9;
}

header nav ul li ul {
	filter: none;
	height: 0;
	padding: 0 0 0 3.199vh;
	margin: 0 0 0 -1.2vh;
	opacity: 0;
	transition: opacity .2s linear, padding .2s linear, margin .2s linear, backround .2s linear;
}

header nav ul li ul li {
	font-size: 1.7vh;
	opacity: 0;
	transition: opacity .2s linear;
}

header nav ul li ul li a {
	padding: .8vh 0;
	-webkit-font-smoothing: subpixel-antialiased;
}

header nav ul li.open > ul {
	height: auto;
	padding: 0 0 0 3.199vh;
	margin: 0 0 0 -1.2vh;
	opacity: 1;
}

header nav > ul > li.open > ul {
	margin-bottom: 1.777vh;
	background: url("../images/menu-accordion-bottom.png") left bottom/88% auto no-repeat transparent;
	padding-bottom: 1.777vh;
}

header nav ul li.open > ul li {
	opacity: 1;
}

header nav ul li.open ul li:nth-child(1) {
	transition-delay: 0.05s;
}

header nav ul li.open ul li:nth-child(2) {
	transition-delay: 0.1s;
}

header nav ul li.open ul li:nth-child(3) {
	transition-delay: 0.15s;
}

header nav ul li.open ul li:nth-child(4) {
	transition-delay: 0.2s;
}

header nav ul li.open ul li:nth-child(5) {
	transition-delay: 0.25s;
}

header nav ul li.open ul li:nth-child(6) {
	transition-delay: 0.3s;
}

header nav ul li.open ul li:nth-child(7) {
	transition-delay: 0.35s;
}

header nav ul li.open ul li:nth-child(8) {
	transition-delay: 0.4s;
}

header nav ul li.open ul li:nth-child(9) {
	transition-delay: 0.45s;
}

header nav ul li.open ul li:nth-child(10) {
	transition-delay: 0.5s;
}

header nav ul li.open ul li:nth-child(11) {
	transition-delay: 0.55s;
}

header nav ul li.open ul li:nth-child(12) {
	transition-delay: 0.6s;
}

header nav > ul {
	height: 70vh;
	overflow: scroll;
	padding: .8vh 2.4vh 2.133vh 6.7vh;
	box-sizing: border-box;
	overflow-x: hidden;
	margin-right: 1vh;
	margin-top: .5em;
}

header nav > ul li {
	position: relative;
}

header nav > ul > li {
	filter: drop-shadow(0 0.255vh 0.255vh rgba(0, 0, 0, 0.6));
}

header nav > ul > li > a {
	margin-left: -2.5vh;
	padding-left: 3vh;
}

header nav > ul > li.open > a {
}

header nav > ul li .toc-section-trigger {
	display: inline-block;
	position: absolute;
	width: 2vh;
	height: 4vh;
	top: 0;
	bottom: 0;
	left: -2.5vh;
	cursor: pointer;
	background: url("../images/arrow-down.png") left 2.05vh no-repeat transparent;
	background-size: 1.95vh auto;
	z-index: 2;
}

header nav > ul > li ul .toc-section-trigger {
	display: none;
}

header nav > ul > li.open ul .toc-section-trigger {
	display: inline-block;
	background: url("../images/arrow-down.png") left 1.75vh no-repeat transparent;
	background-size: 1.75vh auto;

}

header nav ul li.open > .toc-section-trigger {
	display: inline-block;
	background: url("../images/arrow-up.png") left 1.85vh no-repeat transparent;
	background-size: 1.95vh auto;
}

header nav > ul > li.open ul .open > .toc-section-trigger {
	
	background: url("../images/arrow-up.png") left 1.45vh no-repeat transparent;
	background-size: 1.95vh auto;
}

header #back-arrow {
	text-indent: -999em;
	background: url("../images/arrow-left.png") center center no-repeat transparent;
	background-size: contain;
	display: block;
	position: absolute;
	bottom: 2vh;
	left: 2vh;
	width: 6vh;
	height: 4vh;
	filter: drop-shadow(0 0.355vh 0.355vh rgba(0, 0, 0, 0.9));
	z-index: 900;
}

/* -----------------------------------------------*/
/* ------------------- Article -------------------*/
/* -----------------------------------------------*/
article {
	box-sizing: border-box;
	margin: 0vh 4vw 0vh calc( 5.5vw + 38.044vh + 4vw);
	height: 80vh;
	font-size: 1em;
	display: flex;
	flex: 1 1 80vh;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

article h2 {
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.7em;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	flex: 1 1 5%;
	width: 100%;
}

article h2 span:nth-child(2) {
	padding: 0 1vw;
	flex: 1 1 auto;
	width: auto;
	max-width: 95%;
	box-sizing: border-box;
	position: relative;
	z-index: 3;
	line-height: 1.1em;
}

article h2 span:first-child, article h2 span:last-child {
	position: relative;
	z-index: 2;
	flex: 1 1 auto;
	height: 2vh;
	margin: 1.2vh 0 .5vh -3vw;
	background: url("../images/horizontal-center.png") center center no-repeat transparent;
	background-size: calc(100% - 166px) 18px;
	filter: drop-shadow(0 0.355vh 0.355vh rgba(0, 0, 0, 0.9));
	flex-wrap: nowrap;
	white-space: nowrap;
	flex-direction: row;
	box-sizing: border-box;
	min-width: 166px;
}

article h2 span:first-child::before, article h2 span:first-child::after, article h2 span:last-child::before, article h2 span:last-child::after {
	content: ' ';
	display: flex;
	width: 83px;
	height: 2vh;
	position: absolute;
	left: 0;
	top: 0;
	background: url("../images/horizontal-left.png") left center no-repeat transparent;
	background-size: 100% 18px;
	flex-wrap: nowrap;
}

article h2 span:first-child::after, article h2 span:last-child::after {
	left: auto;
	right: 0;
	background: url("../images/horizontal-right.png") right center no-repeat transparent;
	background-size: 100% 18px;
}

article h2 span:last-child {
	margin: 1.2vh -3vw .5vh 0;

}

article section {
	width: 100%;
	height: calc(100% - 100px);
	overflow: auto;
	overflow-x: visible;
	box-sizing: border-box;
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 20px, black calc(100% - 20px), rgba(0, 0, 0, 0) 100%);
	padding: 20px 0;
	display: flex;
	flex-direction: column;
}

article section::-webkit-scrollbar, header nav > ul::-webkit-scrollbar {
	position: relative;
	z-index: 997;
	background: url("") center center/4px auto repeat-y transparent;
}

article section::-webkit-scrollbar-track, header nav > ul::-webkit-scrollbar-track {
	position: relative;
	z-index: 998;
	background: url("../images/scrollbar-track.jpg") center center/5px 100% no-repeat transparent;
	opacity: .6;
}

article section::-webkit-scrollbar-thumb, header nav > ul::-webkit-scrollbar-thumb {
	position: relative;
	z-index: 999;
	width: 32px;
	height: 30px;
	background-image: url("../images/scrollbar-thumb-top.png"), url("../images/scrollbar-thumb-bottom.png"), url("../images/scrollbar-thumb-middle.png");
	background-position: center 0, center 100%, center center;
	background-size: 15px auto, 15px auto, 15px 100%;
	background-repeat: no-repeat;
	border-radius: 5px;
}

article section div {
	display: block;
}

article section div h3 {
	margin: 1.5em 0 .5em;
	box-sizing: border-box;
	width: 98%;
	margin-right: 0;
	margin-left: 0;
}

article section div:first-child, article section div:first-child > :first-child, article section div:first-child > a:first-child + :nth-child(2) {
	margin-top: 0;
}

article section div .clickable-screen {
	display: inline-block;
	box-sizing: border-box;
	max-width: 47%;
	margin: 0 2% 0 4%;
	height: auto;
	float: right;
	clear: right;
	position: relative;
	z-index: 600;
}

article section div .clickable-screen img {
	width: 100%;
	box-sizing: border-box;
	/* border */
	border-style: solid;
	border-width: 13px 13px 15px 15px;
	border-image: url("../images/image-frame.png") 20 18 19 21 repeat repeat;
}

article section div .clickable-screen:hover img {
	border-image: url("../images/image-frame-hover.png") 20 18 19 21 repeat repeat;
}

article section div .normal-image {
	display: inline;
	box-sizing: border-box;
	max-width: 47%;
	margin: 0 2% 0 4%;
	height: auto;
	float: right;
	clear: right;
	position: relative;
	z-index: 600;
}

article section div .normal-image img {
	width: 100%;
	box-sizing: border-box;
	/* border */
	border-style: solid;
	border-width: 13px 13px 15px 15px;
	border-image: url("../images/image-frame.png") 20 18 19 21 repeat repeat;
}
article section div p {
	box-sizing: border-box;
	width: 47%;
	margin-right: -2%;
	margin-left: 0;
}

article section div ul {
	width: 47%;
	margin-right: -2%;
	margin-left: 0;
	box-sizing: border-box;
}

article section div ul li {
	position: relative;
	list-style: none;
	margin-bottom: .5em;
}

article section div ul li::before {
	content: '';
	position: absolute;
	width: .8em;
	height: .9em;
	top: .25em;
	left: -1.4em;
	background: url("../images/bullet.png") left center/100% no-repeat transparent;
}

article section div ul li ul {
	width: 100%;
	margin: 1em 0;
}

article section div table {
	border-collapse: collapse;
	width: 98%;
}

article section div table td {
	border: 1px solid #b3793b;
	vertical-align: top;
	padding: .8em 1em;
	background-color: rgba(255, 255, 255, 0.45);
	width: 50%;
}

article section div .left, article section div.left {
	float: left;
	clear: left;
	width: 47%;
	margin-right: -2%;
	margin-left: 0;
}

article section div .left h3, article section div .left p, article section div .left ul, article section div.left h3, article section div.left p, article section div.left ul {
	width: 100%;
}

article section div .left .clickable-screen, article section div.left .clickable-screen {
	margin-right: 0;
}

article section div .left .clickable-screen.left, article section div.left .clickable-screen.left {
	margin-right: 4%;
	margin-bottom: -2%;
}

article section div .right, article section div.right {
	float: right;
	clear: right;
	width: 47%;
	margin-right: 2%;
	margin-left: 4%;
}

article section div .right h3, article section div .right p, article section div .right ul, article section div.right h3, article section div.right p, article section div.right ul {
	width: 100%;
}

article section div .right .clickable-screen, article section div.right .clickable-screen {
	margin-right: 0;
}

article section div .right .clickable-screen.left, article section div.right .clickable-screen.left {
	margin-right: 4%;
	margin-bottom: -2%;
}

article section a {
	color: #483829;
	font-weight: bold;
}

article section a:hover {
	color: black;
	text-decoration: none;
}

/* -----------------------------------------------*/
/* ----------- Footer (Related Topics) -----------*/
/* -----------------------------------------------*/

footer {
	box-sizing: border-box;
	margin: 0vh 4vw 0 calc( 5.5vw + 38.044vh + 4vw);
}

footer strong {
	display: block;
}

footer span {
	filter: drop-shadow(0 0.355vh 0.355vh rgba(0, 0, 0, 0.9));
	display: block;
	position: relative;
	height: 2vh;
	margin: .3vh -3vw;
	
	background: url("../images/horizontal-center.png") center center no-repeat transparent;
	background-size: calc(100% - 166px) 18px;
}

footer span::before, footer span::after {
	content: ' ';
	display: inline-block;
	width: 83px;
	height: 2vh;
	position: absolute;
	left: 0;
	top: 0;
	background: url("../images/horizontal-left.png") left center no-repeat transparent;
	background-size: auto 18px;
}

footer span::after {
	left: auto;
	right: 0;
	background: url("../images/horizontal-right.png") right center no-repeat transparent;
	background-size: auto 18px;
}

footer a {
	color: #483829;
}

footer a:hover {
	color: black;
	text-decoration: none;
}

/* -----------------------------------------------*/
/* -------------- Screenshot po-up ---------------*/
/* -----------------------------------------------*/
.full-screen {
	opacity: 0;
	position: fixed;
	display: inline-block;
	box-sizing: border-box;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	background: rgba(0, 0, 0, 0.8);
	padding: 0;
	z-index: 998;
	text-align: center;
	transition: opacity .4s linear;
	pointer-events: none;
}

.full-screen img {
	max-height: 90%;
	max-width: 100%;
	opacity: 0;
	border-style: solid;
	border-width: 13px 13px 15px 15px;
	border-image: url("../images/image-frame-open.png") 20 18 19 21 repeat repeat;
}

.full-screen:target {
	opacity: 1;
	pointer-events: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	padding: 9vh 4vw 0vh calc( 6vw + 38.044vh + 4vw);
}

.full-screen:target img {
	opacity: 1;
}


/* -----------------------------------------------*/
/* ----------- Content specific styling ----------*/
/* -----------------------------------------------*/

#campaigns p, 
#what-you-see ul, 
#buildings-units-agents-and-ships-hud-controls ul,
#setting-up-a-campaign ul, #setting-up-a-campaign p,
#how-to-plan-your-turn-in-the-campaign-game p, #how-to-plan-your-turn-in-the-campaign-game ul, 
#advisors p, 
#how-to-change-game-options-during-play p, #how-to-change-game-options-during-play ul,
#settlements-list p, #settlements-list ul,
#key-settlement-details p, #key-settlement-details ul,
#wonders-of-the-world p, #wonders-of-the-world ul,
#economy p,
#trade-routes p, #trade-routes ul,
#corruption p, 
#devastation p,
#public-order p, #public-order ul,
#unrest p, #unrest ul,
#squalor p,
#governors-influence p,
#public-order-buildings p,
#riots p,
#how-to-avoid-riots ul,
#population-growth p, #population-growth ul {
	width: 98%;
	margin-right: 0;
}

#advisors table tr:first-child td {
	text-align: center;
}

#advisors table + p + .normal-image img {
	border: 3px solid rgba(70, 59, 0, 0.8);
	border-radius: 100%;
	width: 100px;
}

/*
#automanagement {
	position: relative;
}

#automanagement a.clickable-screen {
	position: absolute;
	top: 0;
	right: 0;
}

#set-a-settlement-on-automanagement h3, #automanage-tax-rate h3, #set-multiple-settlements-on-automanagement h3 {
	width: 47%;
	margin-right: -2%;
}
*/

#wonders-of-the-world li {
	clear: both;
}

/*
#governors-influence .normal-image img {
	border: none;
	width: 100px;
}
*/

/* ------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------//

         ...                              
.'lO000OxdxkOOkxo:.                        
  ;KMMMk'...,cxXMWXx,                                                          .                    
  ,KMMMd.      'OWMMK:        .,:cllloolc;..          'l,                .c;       ..,:cccccccccclc.
  ,0MMMd.       ,KMMMO.    'lkOxc;,',;cdKNN0d,        lN0,              .dNk.        .xWMMXdccllo00,
  '0MMMx.       .kMMM0'  .dXWk,         .c0WMNk,     .xMM0,            .oNMK,         lWMMO.     .:.
  '0MMMx.       .OMMWx. ,0WMk.            .xWMMK:    '0MMM0,          .oNMMNc         lNMMO.        
  '0MMMx.       cNMMO' 'OMMX:              .OMMM0'   cNWWMMO'         lXXNMWd.        cNMMO.        
  .OMMMx.     .lXMNk'  lWMMK,               cNMMNc  .dWkdXMMO'       lXxcOMMO.        cNMM0:...'';' 
  .OMMMx.  .;o0WXx;.  .dMMM0,               ,KMMWl  .ONc.lNMWO'     cKk..dWMX;        cNMMXkdxxxOXl 
  .OMMMk.  cKMMMK:     oWMMX:               ,KMMX:  ;XK, .oNMWO'   cKk.  cNMWl        cNMMO.    .o: 
  .OMMMk.   ,kWMMNx'   ,KMMMk.              cNMWx.  oWk.  .dNMWk. :Kk.   ,KMMk.       lNMMk.     .  
  .OMMMk.    .lKMMWXo.  cXMMNd.            .kMWO'  .kWo    .oNMWOdKO'    .kMM0,       lNMMk.        
  .OMMMk.      'xNMMW0:. ;0WMWO;.         .xNXo.   ,KN:     .oNMMWO'      oWMNc       lWMMk.      .'
  .OMMMO.       .:0WMMNk, .cOXWNOo;'...';oOOo'    .lNK,      .oNMO'       :XMWx.     .dWMMK:.....'ox
  .OMMMO.         .oKWMMXd'  .:oxkOkxxdooc,.    ':lkK0l,.     .lx'        ;OKKOo;,..'ckKKKK0kkkkO0Ko
..lKWWWXo,.         .lOXNWKx:,.     .           .........                  .......  ............... 
.',,,,,,,,'.           .',;;,,.                                                                     


// ------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------------*/
