
/* -----------------------------------------------
   --------------- Activation Tab ----------------
                 _    _               _    _               
     /\         | |  (_)             | |  (_)              
    /  \    ___ | |_  _ __   __ __ _ | |_  _   ___   _ __  
   / /\ \  / __|| __|| |\ \ / // _` || __|| | / _ \ | '_ \ 
  / ____ \| (__ | |_ | | \ V /| (_| || |_ | || (_) || | | |
 /_/    \_\\___| \__||_|  \_/  \__,_| \__||_| \___/ |_| |_|
                                                           
                                                           
 -----------------------------------------------*/

#tabContentActivation #activationIntro {
	text-align: center;
	font-size: 15px;
}

#tabContentActivation div[data-inner-string=ProductKeySubText] {
	font-size: 13px;
	padding: 0;
	float: right;
}

#tabContentActivation div[data-visible-name=ActivationDetailsVisible] {
	float: left;
	margin: 0;
}

#tabContentActivation h4 {
	float: left;
	margin: 0;
	padding:  4px 10px 0 0;
	text-transform: uppercase;
	font-size: 12px;
}

#tabContentActivation div.productKeyActivations {
	float: right;
	height: 22px;
}

#tabContentActivation div.productKeyActivations span {
	font-size: 12px;
}

#tabContentActivation #actionButtons div.productKeyActivations input {
	padding: 2px 5px 1px;
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	margin: -5px 0 -2px 10px;
}

#tabContentActivation div[data-inner-string=LastUpdatedString] {
	font-size: 10px;
	clear: both;
}

#tabContentActivation #actionButtons {
	margin-top: 20px;
}

#tabContentActivation #actionButtons input {
	font-size: 14px;
}

#tabContentActivation #actionButtons .buttonset
{
	float: left;
	padding-top: 2px;
	margin-right: 20px !important;
}

#tabContentActivation #helpSave {
	float: right;
	height: 32px;
}

#tabContentActivation #actionButtons input[data-property-name=SaveActivate] {
	color: white;
	background: #0071bc !important;
	text-transform: none;
	margin-right: 0;
}

#tabContentActivation #actionButtons input[data-property-name=SaveActivate]:hover {
	background-color: #2d526b !important;
}

#tabContentActivation #actionButtons input[data-property-name=SaveActivate].ui-state-disabled:hover, 
#tabContentActivation #actionButtons input[data-property-name=SaveActivate].ui-state-disabled:active {
	box-shadow: 0px 1px 0px #b8b8b8;
	top: 0;	
}


#tabContentActivation #purchaseContact {
	clear: both;
	
	margin: 0 20px 0; 
	padding: 20px;
	font-size: 14px;
}

#tabContentActivation #purchaseContact input {

}


#ActivationDialog label.emailaddress {
	margin-right: 0;
}
