
/* ---------------------------------------------------------------
   ---------------------- Mod Manager Tab ------------------------
      __  __           _   __  __                                   
     |  \/  |         | | |  \/  |                                  
     | \  / | ___   __| | | \  / | __ _ _ __   __ _  __ _  ___ _ __ 
     | |\/| |/ _ \ / _` | | |\/| |/ _` | '_ \ / _` |/ _` |/ _ \ '__|
     | |  | | (_) | (_| | | |  | | (_| | | | | (_| | (_| |  __/ |   
     |_|  |_|\___/ \__,_| |_|  |_|\__,_|_| |_|\__,_|\__, |\___|_|   
                                                     __/ |          
                                                    |___/           
 ------------------------------------------------------------------*/

.toggle {
	position: absolute !important;
	margin-left: -9999px;
	visibility: hidden;
}

.toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	user-select: none;
}

input.toggle + label {
	padding: 2px;
	width: 45px;
	height: 20px;
	margin: 0;
	background-color: #bdbdbd;
	border-radius: 30px;
	transition: background 0.8s;
}

input.toggle + label:before,
input.toggle + label:after {
	display: block;
	position: absolute;
	content: "";
}

input.toggle + label:before {
	top: 1px;
	left: 1px;
	bottom: 1px;
	right: 1px;
	background-color: #fff;
	border-radius: 20px;
	transition: background 0.8s;
}

input.toggle + label:after {
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 20px;
	background-color: #bdbdbd;
	border-radius: 20px;
	transition: margin 0.2s, background 0.8s;
}

input.toggle:checked + label {
	background-color: #0071bc;
}

input.toggle:checked + label:after {
	margin-left: 25px;
	background-color: #0071bc;
	transition: margin 0.2s, background 0.4s;
}

body #tabContentModManager {
	overflow: visible;
	height: 358px;
}

body #tabContentModManager .center {
	overflow: visible;
}

body #tabContentModManager .NoModsMessage {
	padding: 0;
}

body #tabContentModManager #disableModsHeading {
	position: absolute;
	top: -99px;
	right: 0;
	text-align: center;
	width: auto;
	/* padding: 10px 5px 27px; */
	transition: opacity .2s linear;
	box-sizing: border-box;/* margin-left: 6px; */
background-color: rgba(0, 0, 0, 0.65);
color: #fff;
border: none;
border-radius: 5px;
padding: 10px 25px 15px;
margin-left: 0;
background-image: none;
/* margin-right: 5px; */
text-shadow: 0px 0px 8px black, 0px 0px 4px black, 0px 0px 2px black;
/*
-webkit-backdrop-filter: blur(4px);
backdrop-filter: blur(4px);
*/
}

body #tabContentModManager #disableModsHeading #DisableModsText {
	padding-bottom: 10px;
}

body #tabContentModManager #disableModsHeading input.toggle + label {
	margin: 0 auto;
}

body #tabContentModManager #disableModsHeading input.toggle + label + span, body #tabContentModManager #disableModsHeading input.toggle + label + span + span {
	position: absolute;
	left: 0;
	line-height: 20px;
	text-transform: uppercase;
	font-size: 11px;
	width: 100%;
	text-align: center;margin-top: 2px;
}

.modManagerAllDisabled {
	opacity: .5;
	pointer-events: none;
	transition: opacity .2s linear !important;
}

#tabContentModManager {
	height: 400px;
}

body #tabContentModManager > .center {
	display: flex;
	flex-direction: column;
}

#modPane {
	flex-grow: 1;
	display: flex;
	margin: 0;
	height: 350px;
	min-height: 350px;
}

#modPaneHeading {
	word-wrap: break-word;
	white-space: normal;
}

#modManagerWarningText {
	display: inline-block;
	text-align: center;
}

#WorkshopRefresh {
	background: url("../../images/refresh.svg") 87px center no-repeat transparent;
	background-size: 22px;
	margin: -1px 0 0;
	float: right;
	width: 38px;
	border-radius: 0;
	background-position-x: center;
	padding: 5px 14px 10px;
	color: #fff !important;
	border: 2px solid #7f1a21;
	transition: none;
	transition: border 0.2s linear, background-color 0.2s linear, background-position 0.2s linear, color 0.2s linear;
	background-color: rgba(0, 0, 0, 0.65) !important;
	border-radius: 10px;
}


.pgow_skin_rome_bi #WorkshopRefresh, .pgow_skin_rome_bi #modUploadImgPathButton {
    border-color: #203f75;
}
.pgow_skin_rome_alex #WorkshopRefresh, .pgow_skin_rome_alex #modUploadImgPathButton {
    border-color: #633a87;
}

#WorkshopRefresh:hover {
	background-color: black !important;
/* 		background-color: black !important; */
	border: 2px solid #fff !important;
}

#modTypeSelectBox {
	max-width: 244px;
	display: inline-block;
}

#modTypeSelectBox > .selectric-selectBox{
	min-width: 244px !important;
	margin: 0;
}

#modTypeSelectBox > .selectric-selectBox .selectric {
	background: rgba(0, 0, 0, 0.65) !important;
}

.modDetailsButton {
/*
	background-color: rgba(0, 0, 0, 0.65) !important;
	color: #ffda6d !important;
	border: 1px solid #7D6434 !important;
	border-radius: 0 !important;
	margin: 5px !important;
*/
	color: #fff;
	font-family: "Noto Serif", serif !important;
	font-weight: normal;
	background-image: none;
	background-color: transparent;
	border: 2px solid #7f1a21;
	text-shadow: 0px 0px 8px black, 0px 0px 4px black, 0px 0px 2px black;
	transition: none;
	transition: border 0.2s linear, background-color 0.2s linear, background-position 0.2s linear, color 0.2s linear;
	background-color: rgba(0, 0, 0, 0.6);
/*
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
*/
	border-radius: 10px;
	margin-left: 0;
	height: 38px;
	padding: 5px 15px 6px !important;
	font-size: 15px !important;

}

.modDetailsButton:hover {
/*
	background-color: black !important;
	border-color: #ffda6d !important;
	color: white !important;
*/
	color: #fff !important;
	border: 0;
	background-image: none;
	background-color: black;
	border: 2px solid #fff !important;
}

#modPaneHeading {
	margin-left: 12px;
	margin-right: 0px;
	margin-top: 3px;
	margin-bottom: 5px;
	padding: 10px;
}

#modSelector {
	white-space: normal;
	width: 40%;
	display: inline-flex;
	flex-direction: column;
	vertical-align: top;
}

#modListContainer {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	max-height: 290px;
}

#modList {
	position: relative;
	flex-grow: 1;
	overflow-y: auto;
	margin: 3px 0;
}

#ShowModUploadPanelButton, #ShowModUpdatePanelButton, #OpenInWorkshopButton {
	white-space: normal;
	max-height: 56px;
	min-height: 38px;
}

#ShowModUploadPanelButton:hover, #ShowModUpdatePanelButton:hover, #OpenInWorkshopButton:hover {
	background: black;
}

.selectedModItem {
	background-color: #7f1a21;
	text-shadow: none;
}

.pgow_skin_rome_bi .selectedModItem {
    background-color: #203f75;
}
.pgow_skin_rome_alex .selectedModItem {
    background-color: #633a87;
}

#modListLoading {
	background: url("../../../PGOW/Core/images/ajax-loader.gif") no-repeat center;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 50%;
    -webkit-filter: saturate(27%) brightness(150%) hue-rotate(199deg);
    filter:         saturate(27%) brightness(150%) hue-rotate(199deg);
	left: calc(20% - 25px); /* 20% = Half the width of #modSelector */
}

#modDetails {
	white-space: normal;
	font-size: 0.8em;
	width: 60%;
	margin-left: 6px;
	display: flex;
	flex-direction: column;
}

#modDetailsLoading {
	width: calc(60% - 12px);
	margin-left: 6px;
	background-color: rgba(0, 0, 0, 0.65);
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 16px 16px 10px;
	margin-left: 0;
	background-image: none;
/* 	margin-right: 5px; */
	text-shadow: 0px 0px 8px black, 0px 0px 4px black, 0px 0px 2px black;
/*
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
*/
/*
	border-style: solid !important;
	border-width: 5px 5px 5px 5px !important;
	border-image: url("../../images/mainpanelborder.png") 6 6 6 6 repeat repeat !important;
	background: url("../../images/mainpanelbackground.png") center center repeat transparent !important;
	background-size: 256px !important;

*/
}

#modDetailsScreenshot {
	width: 150px;
	height: 150px;
	float: left;
	margin-right: 10px;
	border-radius: 5px;
}

#modDetailsContents {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
}

#modDetailsButtons {
	display: inline-block;
}

#modDetailsLeftPanel {
	display: inline-block;
	width: 100%;
/* 	padding-left: 10px; */
}

#modDetailsTagsContainer, #modDetailsCompatibleGameContainer {
	margin-top: 5px;
}

/* This id is generated by chosen.js, so may change */
#modUploadTagDropDown_chosen
{
	min-width: 500px;
	flex: 1 1 100%;
	display: flex;
	box-sizing: border-box;
	border-radius: 3px;
}

.chosen-choices {
	border-radius: 3px;	
	padding: 1px 5px 0 !important;
}

#modUploadFormTagsContainer .chosen-container-multi .chosen-choices .search-choice {
	margin: 2px 3px 0 0;
	padding: 5px 22px 4px 8px;
	background: #7f1a21;
	border-radius: 5px;
	white-space: nowrap;
	text-shadow: none;
	display: inline-block;
	font-size: 12.800000190734863px;
	border: none;
	color: white;
}

#modUploadFormTagsContainer .chosen-container-multi .chosen-choices .search-choice .search-choice-close {
	top: 6px;
	right: 5px;
	filter: invert(1) brightness(1.5);
}

.chosen-container-active .chosen-choices {
	border-radius: 3px 3px 0px 0px;
	padding: 1px 5px 0 !important;
}

.chosen-container-multi .chosen-results {
	max-height: 200px;
}

#modDetailsTagsList {
	display: block;
}

.modDetailsTag, .modDetailsGame {
	margin: 1px;
	padding: 2px 5px;
	background-color: #7f1a21;
	border-radius: 5px;
	white-space: nowrap;
	text-shadow: none;
	display: inline-block;
}

.modDetailsGame {
	margin: 1px -1px 1px 0;
}

.pgow_skin_rome_bi .modDetailsTag, .pgow_skin_rome_bi .modDetailsGame, .pgow_skin_rome_bi #modUploadFormTagsContainer .chosen-container-multi .chosen-choices .search-choice {
    background-color: #203f75;
}
.pgow_skin_rome_alex .modDetailsTag, .pgow_skin_rome_alex .modDetailsGame, .pgow_skin_rome_alex #modUploadFormTagsContainer .chosen-container-multi .chosen-choices .search-choice {
    background-color: #633a87;
}

#modDetailsFilesize {
	margin: 5px 0 0 160px;
	padding: 5px 0;
}

#modDetailsWarningInvalidManifest, #modDetailsWarningIncompatibleGame, #modDetailsWarningConflict {
	background: url("../../images/modmanager/warning.svg") 5px center / 18px 15px no-repeat transparent;
	margin: 0 5px 5px 160px;
	padding: 5px 5px 5px 29px;
	border: 1px solid red;
	border-radius: 3px;
}

#modDetailsWarningInvalidManifest br {
	display: none;
}

#modDetailsConflictsLabel {
	margin: 0 0 0 160px;
}

#modDetailsConflicts {
	margin: 0 0 0 160px;
}

#modDetailsConflicts ul {
	margin: 0;
	padding-left: 25px;
}

#modDetailsDescription {
	white-space: pre-wrap;
	display: inline-block;
	width: 100%;
	padding-top: 10px;
	margin: 10px 0 20px;
	border-top: 2px solid #8b681c;
}

#modDetailsHeading {
	font-size: 1.5em;
	text-align: center;
	margin: 0 0 2px;
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
	color: #f1bf37;
}

#modDetailsHeadingRule {
	width: 100%;
	border: 1px solid #8b681c !important;
	box-shadow: 0px 0px 8px black, 0px 0px 4px black, 0px 0px 2px black;
}

.modItem {
	text-overflow: ellipsis;
	border: 1px solid #7f1a21;
	border-radius: 5px;
	margin-top: 3px;
    display: flex;
    align-items: center;
}

.modItem:first-child {
	margin-top: 0;
}

.pgow_skin_rome_bi .modItem {
    border-color: #203f75;
}
.pgow_skin_rome_alex .modItem {
    border-color: #633a87;
}

.modItem div.orderControl {
	display: flex;
	flex-direction: column;
	flex: 1 0 0;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.modLoadOrderButtonWrapper {
	cursor: pointer;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.modLoadOrderButton {
	background-color: rgba(0, 0, 0, 0) !important;
	color: #ffda6d !important;
	border: none !important;
	padding: 0 10px !important;
	font-size: 11px !important;
}
.modLoadOrderButton[style="visibility: hidden;"] {
	display: none;
}

.modLoadOrderButtonUpWrapper .modLoadOrderButton {
	background: url("../../images/modmanager/modloadorderup.svg") no-repeat center center rgba(0, 0, 0, 0.0) !important;
}

.modLoadOrderButtonDownWrapper .modLoadOrderButton {
	background: url("../../images/modmanager/modloadorderdown.svg") no-repeat center center rgba(0, 0, 0, 0.0) !important;
}

.modLoadOrderButton:hover {
	filter: brightness(1000%);
}

.modItem div.modTitleWrapper {
	display: flex;
	flex: 0 1 100%; 
}

.modEnabledTitleWrapper {
/* 	max-width: calc(100% - 56px); */
}

.modEnabledTitleWrapperSolo {
	max-width: none;
}

.modTitle {
	display: flex;
	flex: 0 0 100%; 
	line-height: normal;
	padding: 5px 39px 5px 5px;
	font-size: 0.8em;
	box-sizing: border-box;
	text-overflow: ellipsis;
/* 	max-width: 210px; */
	white-space: normal;
	overflow: hidden;
}

.modTitle > .modEnabledTitleWrapper {
/* 	max-width: 190px; */
}

.modDetails {
	font-size: 10pt !important;
	white-space: pre-wrap !important;
	word-wrap: break-word !important;
	overflow-x: none !important;
	overflow-y: scroll;
	width: 100%;
	max-height: 400px !important;
	min-height: 220px !important;
}

form {
	display: inline;
}

.modEnable {
	display: flex;
	height: 100%;
	align-items: center;	
	flex: 0 0 21px;
	padding-left: 10px;
}

.modEnable input {
	margin: 0;
	top: auto;
}

.NoModsMessage {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	line-height: normal;
}

table#modTable {
	width: 100%;
	border-spacing: 0px;
	line-height: normal;
}

.modManagerDialogs {
	display: none;
}

.steamWorkshopModIcon {
	background-image: url('../../images/modmanager/steamworkshop.svg');
	background-position: calc(100% - 32px) 50%;
	background-size: auto 20px;
	background-repeat: no-repeat;
}

.steamWorkshopWarningModIcon {
	background-image: url('../../images/modmanager/steamwarning.svg');
	background-position: calc(100% - 32px) 50%;
	background-size: auto 20px;
	background-repeat: no-repeat;
}

.localModIcon {
	background-image: url('../../images/modmanager/local.svg');
	background-position: calc(100% - 32px) 50%;
	background-size: auto 20px;
	background-repeat: no-repeat;
}

.localWarningModIcon {
	background-image: url('../../images/modmanager/localwarning.svg');
	background-position: calc(100% - 32px) 50%;
	background-size: auto 20px;
	background-repeat: no-repeat;
}

.myModIcon {
	background-image: url('../../images/modmanager/mine.svg');
	background-position: calc(100% - 32px) 50%;
	background-size: auto 20px;
	background-repeat: no-repeat;
}

.myWarningModIcon {
	background-image: url('../../images/modmanager/minewarning.svg');
	background-position: calc(100% - 32px) 50%;
	background-size: auto 20px;
	background-repeat: no-repeat;
}

#modUploadPanel {
	box-sizing: border-box;
    padding: 10px 20px 20px;
    margin: 0;
    position: absolute;
    top: -10px;
	left: 10px;
    width: 890px;
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

#modUploadHeading {
	margin-bottom: 10px;
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    
	padding: 0 0 10px;
	border-bottom: 2px solid #f1bf37;
	filter: drop-shadow(0 0 4px black);
}

#modUploadMainHeadingText {
	width: 100%;
	margin: 0;
	text-align: center;
	color: #f1bf37;
	font-weight: normal;
	font-size: 1.5em;
}

#modUploadFormPanel {
	display: flex;
	flex-wrap: wrap;
}

#modUploadFormPanelLeft {
	width: 50%;
	display: flex;
	flex: 0 0 50%;
	vertical-align: top;
	padding: 0 10px 10px;
	box-sizing: border-box;
	flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

#modUploadFormPanelRight {
	width: 50%;
	display: flex;
	flex: 0 0 50%;
	vertical-align: top;
	padding: 0 10px 10px;
	box-sizing: border-box;
	flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

#modUploadFormPanelRight label {
	color: white;
}

#modUploadModImgDiv {
	width: 150px;
	height: 150px;
	border-radius: 5px;
}

#modUploadFormVisAndTagsWrapper {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex: 0 0 100%;
}

#modUploadFormTagsContainer {
	display: flex;
}

#modUploadFormVisibilityContainer {
	display: flex;
	align-content: center;
	align-items: center;
	flex: 0 0 auto;
}

#modUploadFormVisibilityContainer label {
	color: white;
	margin-top: 0;
	font-weight: bold;
	text-shadow: 0px 0px 8px black, 0px 0px 4px black, 0px 0px 2px black;
}

#modUploadFormTagsContainer {
	display: flex;
	align-content: center;
	align-items: center;
	padding-left: 20px;
	box-sizing: border-box;
	flex: 1 1 100%;
}

#modUploadFormTagsContainer label {
	color: white;
	margin-top: 0;
	flex: 0 0 auto;
	font-weight: bold;
	text-shadow: 0px 0px 8px black, 0px 0px 4px black, 0px 0px 2px black;
}

#modUpdateNotesContainer {
	width: 100%;
	display: flex;
	flex: 0 0 100%;
	box-sizing: border-box;
	margin-top: .5em;
}

#modUpdateNotesLabel {
	margin-top: 5px;
	padding-right: 10px;
	text-shadow: 0px 0px 8px black, 0px 0px 4px black, 0px 0px 2px black;
}

#modUpdateNotesTextBox {
	width: 100%;
	min-height: 100px;
	border-radius: 3px; 
	padding: 3px 6px;
	font-size: 15px;
}

#modUploadProgressPanel {
	width: 890px;
	height: 600px;
	border-radius: 15px;
	top: 20px;
	left: 0;
	position: absolute;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%, rgba(0,0,0,0.75) 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.75) 100%);
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.95) 0%,rgba(0,0,0,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2000000', endColorstr='#bf000000',GradientType=1 );


	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

#modUploadProgressDescription {
	display: flex;
	color: #fff;
	justify-content: flex-end;
	align-content: center;
	flex: 0 0 50%;
	padding-bottom: 10px;
	flex-direction: column;
	text-align: center;
	color: #f1bf37;
	box-sizing: border-box;
	font-size: 1.2em;
}

#modUploadProgressBarContainer {
	width: 80%;
	margin: auto;
	padding-top: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex: 0 0 50%;
	flex-direction: column;
	filter: invert(1) contrast(1.1) brightness(1.15) hue-rotate(11deg);
	box-sizing: border-box;
}

#modUploadProgressBar {
	width: 100%;
}

/*Overrides and general styling*/
.textBox {
    /*padding: 4px 7px 4px 7px;*/
    border: 1px solid #7D6434;
    /*max-width: 841px;*/
    /*height: 85%;*/
}
.selectBox {
    max-width: 100%;
}

.subHeading {
    width: 100%;
    margin: .5em 0 0;
/*     color: #f1bf37; */
    font-size: 1em;
    text-shadow: 0px 0px 8px black, 0px 0px 4px black, 0px 0px 2px black;
}
/*#notDesc {
    width: 58%;
}*/



/*Supported Game section*/
#modUploadGameCompatDiv {
    top: 0px;
    width: 350px;
    float: right;
    display: inline-flex;
    justify-content: space-between;
}
#modUploadLeftCheckDiv {
}
#modUploadCenterCheckDiv {
}
#modUploadRightCheckDiv {
}
#modUploadCompatCheck {
    position: relative;
	top: -1px;
}
#modUploadCompatCheck + label {
	margin: 2px 0;
	padding-left: 7px;
	width: calc(100% - 35px);
	text-shadow: 0px 0px 8px black, 0px 0px 4px black, 0px 0px 2px black;
}
#modUploadGameCompatTitle {
    margin: -1.75em 160px 0em 0;
    flex: 0 0 100%;
    display: flex;
    text-shadow: 0px 0px 8px black, 0px 0px 4px black, 0px 0px 2px black;
}



/*Mod description section*/
#modUploadDescDiv
{
    width: 40%;
    /*height: 100%;*/

}
#modUploadDescTextBox {
	width: 100%;
	display: flex;
	flex: 0 0 100%;
	min-height: 100px;
    box-sizing: border-box;
	border-radius: 3px;
	padding: 3px 6px;
	font-size: 15px;
}



/*Mod picture and paths section*/
#modUploadPathsAndPicsDiv {
	
}
#modUploadPathsDiv {
    float:right;
    width: 55%;
}
#modUploadFolderPathTextBox {
    align: right;
    width: 85%;
}
#modUploadImgPathButton {
	padding: .2em .4em;
	font-size: 15px;
	height: 28px;
	margin: 2px 0;
	border-radius: 0px  3px 3px 0px;
	text-indent: -999em;
	background: url('../../images/modmanager/search.svg') center center / 20px 20px no-repeat rgba(0, 0, 0, 0.30);
	box-sizing: border-box;
	border: 2px solid #7f1a21;
}

#modUploadImgPathButton:hover {
	border-color: white !important;
}

.modUploadPathButtons {
	height: 30px;
	width: 30px;
	color: #ffda6d !important;
}
#modUploadImgPathTextBox {
	text-align: right;
	width: calc(100% - 190px);
	display: flex;
	flex: 0 0 calc(100% - 190px);
	padding: .2em .4em;
	justify-content: flex-end;
	font-size: 15px;
	box-sizing: border-box;
	border-radius: 3px 0px 0px 3px;
	white-space: nowrap; 
	overflow: hidden;
/* 	text-overflow: ellipsis; */
}

#modUploadImgPathTextBox div[contenteditable="false"] {
	text-align: right !important;
}

#modUploadModImgDiv {
	justify-content: center;
	display: flex;
	flex: 0 0 150px;	
	margin: 2px 0 0 10px;
}

#modUploadModImg {
	width: auto;
	height: 106px;
}
.ellipsis {
	text-overflow: ellipsis;
}

#pathFade {
	transform: rotate(90deg);
	height: 20px;
	width: 30px;
	position: absolute;
	top: 157px;
	left: 252px;
}


/*Mod name and visibility section*/
#modUploadNameAndVisibility {
    
}
#modUploadVisibilityDiv {
    vertical-align: bottom;
    width: 40%;
    float: right;
}
#modUploadVisibilityDropDown {
    width: 100%;
}
#modUploadModNameDiv {
    width: 60%;
}
#modUploadModNameTextBox {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
	border-radius: 3px;
	padding: .2em .4em;
	font-size: 15px;
}

#modUploadFormDescriptionContainer {
	width: 100%;
	display: flex;
	flex: 0 0 100%;
	flex-wrap: wrap;
}

#modUploadFolderPathLabel {
	padding: .2em .4em; 
	border: 1px solid #333;
	border-radius: 3px;
	font-size: 15px;
	width: 100%;
	display: flex;
	flex: 0 0 100%;
	margin: 2px 0;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.3);
	white-space: normal;
}


/*Mod tag section*/
#modUploadTagsDiv {
	
}
#modUploadTagDropDown {
    max-width: 800px;
    width: 100%;
}



/*Upload and cancel buttons*/
#modUploadBottomButtonsDiv {
    padding-top: 12px;
    margin: auto;
	width: fit-content;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#modUploadBottomButtonsDiv input {
	margin: 0 5px;
	background: rgba(0, 0, 0, 0.6) !important;
}

/*Dimensions of the tags dropdown*/
div.selectric, div.selectric .label, div.selectric .button, .dropdown {
	max-width: 510px;
}


.selectric-items {
	max-height: 235px;
}

/*Shortcut buttons*/
#modManagerLinkButtons {
	width: 72%;
	text-align: center;
	
}

#modManagerLinkButtons input {
	color: #fff;
	font-family: "Noto Serif", serif !important;
	font-weight: normal;
	background-image: none;
	background-color: transparent;
	border: 2px solid #7f1a21;
	text-shadow: 0px 0px 8px black, 0px 0px 4px black, 0px 0px 2px black;
	transition: none;
	transition: border 0.2s linear, background-color 0.2s linear, background-position 0.2s linear, color 0.2s linear;
	background-color: rgba(0, 0, 0, 0.65) !important;
	border-radius: 10px;
	margin-left: 0;
	height: 38px;
	padding: 5px 15px 7px !important;
	font-size: 15px !important;margin-right: 10px;/* filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.8)); */
}

#modManagerLinkButtons input:hover {
	color: #fff !important;
	border: 0;
	background-image: none;
	background-color: black !important;
	border: 2px solid #fff !important;
}

#centerSpan:after{
	padding-bottom: 30px !important;
}

